[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "psychometric"]
	path = psychometric
	url = https://github.com/cran/psychometric
[submodule "QuantPsyc"]
	path = QuantPsyc
	url = https://github.com/cran/QuantPsyc
